@using RealEstate.Core.Application.ViewModels.User
@model List<UserViewModel>

@{
    var propQty = ViewBag.PropertyQty;
}


<div class="row">
    <div class="col-8 mx-auto">

        @if (Model == null || Model.Count == 0)
        {
            <h2>No existen agentes</h2>
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th class="text-center" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (UserViewModel item in Model)
                    {
                        <tr class="table-light">
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Email</td>
                            <td>@propQty</td>
                            <td>
                                <div class="d-flex justify-content-start w-100">
                                    @if (item.IsVerified)
                                    {
                                        <a asp-controller="Admin" asp-action="ActiveUser" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger w-100">Desactivar</a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Admin" asp-action="ActiveUser" asp-route-id="@item.Id" class="btn btn-sm btn-outline-success w-100">Activar</a>
                                    }
                                    <a 
                                        asp-controller="Admin" 
                                        asp-action="Delete" 
                                        asp-route-id="@item.Id" 
                                        class="btn btn-sm btn-danger me-2 w-100"
                                    >
                                        Eliminar
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

</div>