@using RealEstate.Core.Application.ViewModels.Property
@using RealEstate.Core.Application.ViewModels.User
@using RealEstate.Core.Application.ViewModels.Improvement
@model PropertyViewModel

<div class="row justify-content-center">
    <section class="col-6 d-flex flex-column gap-4">

        <!-- Carousel -->

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            @if (Model.PropertyImgUrl2 != null)
            {    
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            }
            @if (Model.PropertyImgUrl3 != null)
            {    
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            }
            @if (Model.PropertyImgUrl4 != null)
            {    
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            }
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="@Model.PropertyImgUrl1" class="d-block img-cover w-100" alt="...">
            </div>
            @if (Model.PropertyImgUrl2 != null && Model.PropertyImgUrl2 != "")
            {
                <div class="carousel-item">
                    <img src="@Model.PropertyImgUrl2" class="d-block img-cover w-100" alt="...">
                </div>                    
            } 
            else 
            {
                <div class="carousel-item">
                    <img src="~/images/image-not-found.png" class="d-block img-cover w-100" alt="...">
                </div>  
            }
            @if (Model.PropertyImgUrl3 != null && Model.PropertyImgUrl3 != "")
            {                    
                <div class="carousel-item">
                    <img src="@Model.PropertyImgUrl3" class="d-block img-cover w-100" alt="...">
                </div>
            }
            else 
            {
                <div class="carousel-item">
                    <img src="~/images/image-not-found.png" class="d-block img-cover w-100" alt="...">
                </div>  
            }
            @if (Model.PropertyImgUrl4 != null && Model.PropertyImgUrl4 != "")
            {                    
                <div class="carousel-item">
                    <img src="@Model.PropertyImgUrl4" class="d-block img-cover w-100" alt="...">
                </div>
            }
            else 
            {
                <div class="carousel-item">
                    <img src="~/images/image-not-found.png" class="d-block img-cover w-100" alt="...">
                </div>  
            }
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <!-- Description section -->

        <div class="d-flex flex-column bg-light rounded gap-3 p-3">
            <h5 class="fw-bold">Descripción</h5>
            <p>
                @Model.Description
           </p>
        </div>
    </section>    

    <section class="col-3 d-flex flex-column gap-4">
        <div class="bg-light rounded p-3">
            <h4 class="mb-3">@Model.PropertyType</h4>

            <div class="d-flex flex-column">
                <h6 class="text-muted">Código</h6>
                <h6 class="fw-bold">@Model.Code</h6>
            </div>

            <div class="d-flex flex-column mt-3">
                <h6 class="text-muted">Venta amueblado</h6>
                <h4 class="text-danger fw-bold">RD$ @(Model.Price + ".00")</h4>
            </div>

            <div class="row justify-content-center gap-3 mt-4">
                <section class="col-4 bg-secondary rounded p-2 gap-2">
                    <img src="~/images/bed.png"/>
                    <h6 class="m-0"> @Model.RoomQty Habitaciones </h6>
                </section>
                <section class="col-3 bg-secondary rounded p-2 gap-2">
                    <img src="~/images/bathtub.png"/>
                    <h6 class="m-0"> @Model.RestRoomQty baños</h6>
                </section>
                <section class="col-3 bg-secondary rounded p-2 gap-2">
                    <img src="~/images/tape-measure.png"/>
                    <h6 class="m-0"> @Model.ParcelSize mt </h6>
                </section>
            </div>
        </div>

        <div class="d-flex flex-column bg-light rounded gap-3 p-3">
             <h5 class="fw-bold">Agente</h5>
            @foreach (UserViewModel item in ViewBag.Agent)
            {                
                <section class="d-flex align-items-center gap-2">
                    @if (item.ProfilePicture != null)
                    {
                        <img src="@item.ProfilePicture" class="img-cover" style="width: 50px;height: 50px; border-radius: 50%;" alt="img">
                    } 
                    else
                    {
                        <img src="~/images/default-agent.png" class="img-cover" style="width: 50px;height: 50px; border-radius: 50%;" alt="img">
                    }
                    <h6>@item.FirstName @item.LastName</h6>
                </section>
                <section class="d-flex flex-column">
                    <h6 class="text-muted">Celular</h6>
                    <h6 class="fw-bold">@item.PhoneNumber</h6>
                    <section class="d-flex flex-column">
                        <h6 class="text-muted">Correo</h6>
                        <h6 class="fw-bold">@item.Email</h6>
                    </section>
                </section>
            }
        </div>
    </section>
</div>

<div class="row justify-content-center my-5">
    <div class="col-9 bg-light rounded gap-3 p-3">
        <h5 class="fw-bold">Mejoras</h5>
         <div class="d-flex justify-content-start align-items-center gap-3 mt-4">
            @foreach (ImprovementSaveViewModel item in ViewBag.Imps)
            {                
                <section class="d-flex justify-content-center align-items-center bg-secondary rounded p-2">
                    <h6 class="m-0"> @item.Name </h6>
                </section>
            }
         </div>
    </div>
</div>
