@using RealEstate.Core.Application.Dtos.Account
@using RealEstate.Core.Application.Enums
@using RealEstate.Core.Application.Helpers
@using RealEstate.Core.Application.ViewModels.User
@using RealEstate.Infrastructure.Identity.Entities
@using Microsoft.AspNetCore.Http
@model UserSaveViewModel
@{
    bool editMode = Model.Id == null || Model.Id == "" ? false : true;
    int rol = Model.TypeUser;
    int count = 1;
    ViewData["Title"] = "Register";
}


<div class="row">
    <div class="col-5 mx-auto">
        <div class="card shadow bg-light">
            <div class="card-body">
                @if (Model.HasError)
                {
                    <div class="alert alert-danger alert-dimissible fade show" role="alert">
                        <p>@Model.Error</p>
                        <button type="button" class="btn-close" data-bs-dimiss="alert" aria-label="Close"></button>
                    </div>
                }
                <form asp-controller="User" asp-action=@(editMode ? "UpdateUser" : "Register") method="post" class="row gap-3 my-3" enctype="multipart/form-data">
                    <div class="text-center my-2">
                        <h3 class="text-muted w-100">
                            @(editMode ? $"Editar Usuario" : "Unete a la App")
                        </h3>
                    </div>
                    <section class="col-5 mx-auto mt-2">

                        <div class="form-floating mb-3">
                            <input asp-for="FirstName" class="form-control" placeholder="Nombre" />
                            <label asp-for="FirstName"> Nombre </label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="LastName" class="form-control" placeholder="Apellido" />
                            <label asp-for="LastName" class="form-label">Apellido </label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" placeholder="Correo" />
                            <label asp-for="Email" class="form-label">Correo </label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        @if ((!editMode))
                        {
                            <div class="form-floating">
                                <select 
                                    asp-for="TypeUser" 
                                    value="@Model.TypeUser" 
                                    class="form-select" 
                                    id="rol-select" 
                                    aria-label="Default select example"
                                >
                                    <option selected>Seleccionar Rol de Usuario</option>

                                    @foreach (var item in ViewBag.Roles)
                                    {
                                        if (@item.Name != "Admin")
                                        {                                            
                                            if (@item.Name == "Agent")
                                            {
                                                <option value="2">@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value="3">@item.Name</option>
                                            }
                                        }
                                        count++;
                                    }
                                </select>
                            </div>
                        }
                    </section>
                    <section class="col-5 mx-auto mt-2">

                        <div class="form-floating mb-3">
                            <input asp-for="PhoneNumber" class="form-control" placeholder="Telefono" />
                            <label asp-for="PhoneNumber" class="form-label">Telefono </label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="UserName" class="form-control" placeholder="Usuario" />
                            <label asp-for="UserName" class="form-label"> Usuario </label>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Password" class="form-control" placeholder="Contraseña" />
                            <label asp-for="Password" class="form-label">Contraseña </label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmar Contraseña" />
                            <label asp-for="ConfirmPassword" class="form-label">Confirmar Contraseña </label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </section>

                    <input type="hidden" asp-for="Id" name="Id" value="@Model.Id" />


                    <section class="col-11 mx-auto">
                        <div class="form-group mb-3">
                            <label asp-for="ProfilePictureFile" class="form-label text-muted fw-bold">Selecciona una imagen de perfil </label>
                            @if (editMode)
                            {
                                <input asp-for="ProfilePictureFile" class="form-control">
                            }
                            else
                            {
                                <input required asp-for="ProfilePictureFile" class="form-control">
                            }
                        </div>
                    </section>
                    <div class="col-11 mx-auto">
                        <button type="submit" class="btn btn-primary btn-lg w-100 mt-2">Guardar</button>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary w-100 mt-2">Volver atrás</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>