

<div class="container-fluid">
    
    <div class="col-sm-11 mx-auto d-flex align-items-center gap-4 mb-3">
        <section class="w-100 mx-auto bg-light rounded-3 text-center p-3 mb-5">
            <h3 class="display-8 fw-normal text-uppercase fw-bolder m-0">
                Dashboard
            </h3>
        </section>
    </div>

    <div class="row gap-5 justify-content-center align-items-center">
        <section class="col-3">
            <div class="d-flex bg-light flex-column text-center rounded shadow gap-4 pb-3">
                <section class="w-100 bg-secondary p-2">
                    <h6 class="fw-bold text-uppercase mt-2">Cantidad de clientes</h6>
                </section>
                <div class="d-flex justify-content-around align-items-center">
                    <section class="d-flex flex-column align-items-center gap-2">
                        <h6 class="text-uppercase fw-bold">Activos</h6>
                        <span class="badge bg-success rounded-pill fs-6 px-5">@ViewData["ActiveClients"]</span>
                    </section>
                    <section class="d-flex flex-column align-items-center gap-2">
                        <h6 class="text-uppercase fw-bold">Inactivos</h6>
                        <span class="badge bg-danger rounded-pill fs-6 px-5">@ViewData["DisabledClients"]</span>
                    </section>
                </div>
            </div>
        </section>
        <section class="col-3">
            <div class="d-flex flex-column bg-light text-center shadow gap-4 pb-3">
                <section class="w-100 bg-secondary p-2">
                    <h6 class="fw-bold text-uppercase mt-2">Cantidad de agentes</h6>
                </section>
                <div class="d-flex justify-content-around align-items-center">
                    <section class="d-flex flex-column align-items-center gap-2">
                        <h6 class="text-uppercase fw-bold">Activos</h6>
                        <span class="badge bg-success rounded-pill fs-6 px-5">@ViewData["ActiveAgents"]</span>
                    </section>
                    <section class="d-flex flex-column align-items-center gap-2">
                        <h6 class="text-uppercase fw-bold">Inactivos</h6>
                        <span class="badge bg-danger rounded-pill fs-6 px-5">@ViewData["DisabledAgents"]</span>
                    </section>
                </div>
            </div>
        </section>
        <section class="col-3">
            <div class="d-flex flex-column bg-light text-center shadow gap-4 pb-3">
                <section class="w-100 bg-secondary p-2">
                    <h6 class="fw-bold text-uppercase mt-2">Cantidad de desarrolladores</h6>
                </section>
                <div class="d-flex justify-content-around align-items-center">
                    <section class="d-flex flex-column align-items-center gap-2">
                        <h6 class="text-uppercase fw-bold">Activos</h6>
                        <span class="badge bg-success rounded-pill fs-6 px-5">@ViewData["ActiveDevs"]</span>
                    </section>
                    <section class="d-flex flex-column align-items-center gap-2">
                        <h6 class="text-uppercase fw-bold">Inactivos</h6>
                        <span class="badge bg-danger rounded-pill fs-6 px-5">@ViewData["DisabledDevs"]</span>
                    </section>
                </div>
            </div>
        </section>
        <section class="col-9">
            <div class="d-flex bg-light flex-column text-center rounded shadow gap-4 pb-3">
                <section class="w-100 bg-secondary p-2">
                    <h6 class="fw-bold text-uppercase mt-2">Cantidad de propiedades</h6>
                </section>
                <div class="d-flex justify-content-around align-items-center">
                    <section class="d-flex flex-column align-items-center gap-2">
                        <h6 class="text-uppercase fw-bold">Total</h6>
                        <span class="badge bg-primary rounded-pill fs-6 px-5">@ViewData["Properties"]</span>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>
