@using RealEstate.Core.Application.ViewModels.Property
@using RealEstate.Core.Application.Enums
@using Microsoft.AspNetCore.Http
@using RealEstate.Core.Application.Dtos.Account
@using RealEstate.Core.Application.Helpers
@using RealEstate.Core.Application.ViewModels.PropertyType
@using RealEstate.Core.Application.ViewModels.User
@model List<PropertyViewModel>

@inject IHttpContextAccessor httpContextAccesor
@{
    var user = httpContextAccesor.HttpContext.Session.Get<AuthenticationResponse>("user");
    bool isAgent = false;
    if (user != null)
    {
        isAgent = user.Roles.Contains(Roles.Agent.ToString());
    }
}


<div class="row mx-5">

    <div class="col-sm-3 mx-auto w-100 d-flex align-items-center gap-4">
        <section class="w-100 mx-auto rounded-3 text-center p-3">
            <a asp-controller="Property" asp-action="AddProperty" class="btn btn-outline-success text-uppercase w-100 py-3">
                Agregar Propiedad
            </a>
        </section>
    </div>

     <div class="col-sm-3 w-100 d-flex align-items-center gap-4 mb-3">
        <form asp-controller="Property" asp-action="AgentProperties" class="d-flex align-items-center gap-2 w-100">
            <select class="form-select w-100" name="propertyTypeId" id="propertyTypeId">
                @if (ViewBag.PropertyTypes.Count == 0)
                {
                    <option disabled selected>No existen propiedad...</option>
                }
                <option disabled selected> Seleccionar propiedad...</option>
                <option value="null">Todas</option>
                @foreach (PropertyTypeViewModel item in ViewBag.PropertyTypes)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <div class="form-group w-100">
                <input class="form-control" name="MinPrice" id="MinPrice" placeholder="Precio Min.">
            </div>
            <div class="form-group w-100">
                <input class="form-control" name="MaxPrice" id="MaxPrice" placeholder="Precio Max.">
            </div>
            <div class="form-group w-100">
                <input class="form-control" name="roomQty" id="roomQty" placeholder="Cantidad de habitaciones">
            </div>
            <div class="form-group w-100">
                <input class="form-control" name="restRoomQty" id="restRoomQty" placeholder="Cantidad de baños">
            </div>
            <button class="btn btn-success" type="submit">Filtrar</button>
        </form>
        <form asp-controller="Home" asp-action="Index" class="d-flex align-items-center gap-2 w-25"> 
            <input class="form-control w-100" type="text" name="code" id="code" placeholder="Buscar por código">
            <button class="btn btn-success" type="submit">Buscar</button>
        </form>
    </div>
   
    @if (Model.Count == 0 || Model == null)
    {
        <section class="col-6 bg-danger rounded-3 text-white text-center mx-auto p-4 mt-5">
	        <h3 class="display-8 fw-normal text-uppercase fw-bolder m-0"> Agente sin propiedades creadas</h3>
        </section>
    }
    @foreach (PropertyViewModel item in Model)
    {
        <section class="col-3 my-4 mx-auto slide-up">
            <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id" class="card bg-light border-0 shadow" asp-route-id="">
                <section class="card-body">
                    <img src="@item.PropertyImgUrl1" class="card-img-top img-fluid img-cover-2" alt="pokemon">
                    <div class="d-flex flex-column gap-2 mt-3">
                        <div class="d-flex flex-column">
                            <h6 class="fw-bold">
                                @item.PropertyType
                            </h6>
                            <h6 class="">
                                @item.Ubication
                            </h6>
                        </div>
                        <div class="d-flex flex-column">
                            <h6 class="">
                                Código
                            </h6>
                            <h6 class="fw-bold">
                                @item.Code
                            </h6>
                        </div>
                        <div class="d-flex flex-column">
                            <h6 class="">
                                @item.SaleType
                            </h6>
                            <h6 class="text-danger fw-bold">
                                RD$ @item.Price 
                            </h6>
                        </div>
                    </div>
                </section>
                <section class="card-footer">
                    <div class="d-flex justify-content-between align-items-center gap-5">
                        <section class="d-flex justify-content-center align-items-center gap-2">
                            <img src="~/images/bed.png" />
                            <h6 class="fw-bold m-0"> @item.RoomQty </h6>
                        </section>
                        <section class="d-flex justify-content-center align-items-center gap-2">
                            <img src="~/images/bathtub.png"/>
                            <h6 class="fw-bold m-0"> @item.RestRoomQty </h6>
                        </section>
                        <section class="d-flex justify-content-center align-items-center gap-2">
                            <img src="~/images/tape-measure.png" />
                            <h6 class="fw-bold m-0"> @item.ParcelSize mts </h6>
                        </section>
                    </div>
                </section>
            </a>
            <div class="d-flex justify-content-center bg-light rounded gap-2 p-2">
                @if (isAgent)
                {                        
                    <a asp-controller="Property" asp-action="UpdateProperty" asp-route-id="@item.Id" class="btn btn-info w-100">Editar</a>
                    <a asp-controller="Property" asp-action="DeleteProperty" asp-route-id="@item.Id" class="btn btn-danger w-100">Borrar</a>
                }
            </div>
        </section>
    }

</div>